.top-header {
  & .top-menu-bars {
    border: 0;
    color: white;
    background-color: transparent;
  }
  & .user-profile {
    height: 35px;
    margin: auto 5px;
    line-height: 35px;
    display: inline-block;
    & nz-avatar {
      margin: auto 5px;
      border: 2px solid;
      background-color: white;
    }
    & i {
      margin: auto 5px;
    }
    & .username-link {
      color: white;
      padding: 0 5px;
      overflow: hidden;
      font-weight: 600;
      max-width: 80px;
      white-space: nowrap;
      display: inline-flex;
      text-overflow: ellipsis;
    }
  }
  & .search-input-btn {
    border: 0;
    width: 100%;
    color: #666;
    outline: none;
    height: 35px;
    font-size: 12px;
    text-align: left;
    margin: 5px auto;
    line-height: 35px;
    border-radius: 3px;
    background-color: white;    
  }
  & .search-btn-icon {
    right: 20px;
    color: #0cc5b7;
    font-size: 18px;
    bottom: 8px;
    position: absolute;
  }
}
.search-products {
  display: flex;
}
.vertical-top-menu {
  & ul {
    border-bottom: 0;
  }
  & li.ant-menu-item {
    margin-right: 5px;
    padding: 10px 15px;
    & a, &.ant-menu-item-selected {
      color: inherit;
      &:hover {
        color: #e91e63;
      }
    }
    &.ant-menu-item-selected,
    &:hover {
      color: #e91e63;
      border-bottom: 2px solid #e91e63;
    }
  }
}
