<div class="bg-black pb-2 pt-2">
    <div class="app-container">
        <div nz-row>
            <div nz-col nzMd="12" nzLg="12" class="header-top-bar plr-1">
                <a href="javascript:void(0);" class="text-white hover-white">20% cashback for all users | Code:
                </a>
                <span class="text-icon mr-4">
                    <i nz-icon nzType="tag" class="text-white" nzTheme="fill"></i>
                </span>
                <strong>
                    <span class="text-white">GROFERS13</span>
                </strong>
            </div>
            <div nz-col nzMd="12" nzLg="12" class="header-top-bar plr-1 text-right hide-xsm hide-sm">
                <a role="button" class="mlr-2">
                    <span class="text-white mr-4"><i nz-icon nzType="environment" nzTheme="fill"></i></span>
                    <span class="text-white" [innerText]="currLocation"></span>
                </a>
                <a [routerLink]="['auth', 'login']" class="mlr-2">
                    <span class="text-white mr-4"><i nz-icon nzType="export" nzTheme="outline"></i></span>
                    <span class="text-white">Sign In</span>
                </a>
                <a [routerLink]="['auth', 'sign-up']" class="mlr-2">
                    <span class="text-white mr-4"><i nz-icon nzType="user" nzTheme="outline"></i></span>
                    <span class="text-white">Sign Up</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-default pb-2 pt-2 top-header">
    <div class="app-container">
        <div nz-row>
            <div nz-col nzMd="4" nzLg="6" nzSm="24" nzXs="24" class="plr-1 logo-box">
                <a [routerLink]="['home']" class="logo-text">
                    <span class="mr-4">
                        <i nz-icon nzType="shopping" nzTheme="outline"></i>
                    </span>
                    <span class="hide-xsm hide-sm">GroceriStore</span>
                </a>
            </div>
            <div nz-col nzMd="16" nzLg="12" nzSm="24" nzXs="24" class="plr-1">
                <div class="search-products flex-spacer">
                    <auto-complete-search class="min-w100"></auto-complete-search>
                </div>
            </div>
            <div nz-col nzMd="4" nzLg="6" class="plr-1 text-right">
                <span class="flex-spacer"></span>
                <a nz-dropdown class="user-profile" [nzDropdownMenu]="profileMenu" nzPlacement="bottomRight">
                    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                    </nz-avatar>
                    <span class="username-link">Hi, Ana</span>
                    <i nz-icon nzType="caret-down" nzTheme="outline" class="text-white"></i>
                    <nz-dropdown-menu #profileMenu="nzDropdownMenu">
                        <ul nz-menu class="profile-dropdown">
                            <li nz-menu-item>
                                <a [routerLink]="['user', 'profile']">
                                    <i nz-icon nzType="user" class="mr-2" nzTheme="outline"></i> My Profile
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['user', 'settings']">
                                    <i nz-icon nzType="setting" class="mr-2" nzTheme="outline"></i> Settings
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['user', 'wish-list']">
                                    <i nz-icon nzType="heart" class="mr-2" nzTheme="outline"></i> Wish List
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['user', 'orders']">
                                    <i nz-icon nzType="solution" class="mr-2" nzTheme="outline"></i> Order List
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['user', 'order-status']">
                                    <i nz-icon nzType="hourglass" class="mr-2" nzTheme="outline"></i> Order Status
                                </a>
                            </li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item>
                                <i nz-icon nzType="logout" nzTheme="outline"></i> Logout
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </a>

                <nz-badge [nzCount]="5" class="badge-box mlr-2">
                    <button nz-button nzShape="circle" (click)="openCart()">
                        <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
                    </button>
                </nz-badge>
            </div>
        </div>
    </div>
</div>

<div class="bg-white shadow-b">
    <div class="app-container">
        <div class="product-menu-top plr-1" [ngClass]="(menuMode == 'horizontal') ? 'vertical-top-menu' : ''">
            <ul nz-menu [nzMode]="menuMode">
                <li nz-menu-item nzSelected [nzMatchRouter]="onLoadMatchMenuToUrl">
                    <a class="font-b500" [routerLink]="['./', 'home']">
                        <i nz-icon nzType="shop" nzTheme="outline"></i>
                        Super Store
                    </a>
                </li>
                <ng-container *ngFor="let menu of menuList">
                    <li nz-menu-item [nzMatchRouter]="onLoadMatchMenuToUrl" *ngIf="!menu.subMenu">
                        <a [routerLink]="['./', 'products', menu.url]" [innerText]="menu.label"></a>
                    </li>
                </ng-container>
                <li nz-menu-item>
                    <a nz-dropdown [nzDropdownMenu]="topMoreMenuItems">
                        More
                        <i nz-icon nzType="down"></i>
                    </a>
                    <nz-dropdown-menu #topMoreMenuItems="nzDropdownMenu">
                        <ul nz-menu>
                            <ng-container>
                                <li nz-menu-item>Beverages</li>
                                <li nz-menu-divider></li>
                                <li nz-menu-item>Breakfast & Dairy</li>
                                <li nz-menu-divider></li>
                                <li nz-menu-item>Biscuits, Snacks & Chocolates</li>
                            </ng-container>
                        </ul>
                    </nz-dropdown-menu>
                </li>
            </ul>
        </div>
    </div>
</div>
<nz-drawer [nzVisible]="showMyCart" [nzTitle]="cartHeader" (nzOnClose)="openCart()" nzClosable="true"
    [nzBodyStyle]="{ height: 'calc(100% - 150px)', overflow: 'auto', 'padding-bottom': '55px' }"
    nzWrapClassName="cart-drawer">
    <app-mycart (onCheckout)="openCart()"></app-mycart>
</nz-drawer>
<nz-modal [(nzVisible)]="authModalIsVisible" nzTitle="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading">
</nz-modal>
<ng-template #cartHeader>
    <div class="cart-header">
        <h5>
            My Cart
            <span class="cart-total tertiary-text">
                (<span class="cart-total-items" [innerText]="totalCartItemsText"></span>)
            </span>
        </h5>
    </div>
</ng-template>