.top-header {
  & .user-profile {
    margin: auto 5px;
    & nz-avatar {
      margin: auto 5px;
      border: 2px solid;
      background-color: white;
    }
    & i {
      margin: auto 5px;
    }
    & .username-link {
      color: white;
      padding: 0 5px;
      overflow: hidden;
      font-weight: 600;
      max-width: 80px;
      white-space: nowrap;
      display: inline-flex;
      text-overflow: ellipsis;
    }
  }
}
.search-products {
  display: flex;
}
.vertical-top-menu {
  & ul {
    border-bottom: 0;
  }
  & li.ant-menu-item {
    margin-right: 5px;
    padding: 10px 15px;
    & a, &.ant-menu-item-selected {
      color: inherit;
      &:hover {
        color: #e91e63;
      }
    }
    &.ant-menu-item-selected,
    &:hover {
      color: #e91e63;
      border-bottom: 2px solid #e91e63;
    }
  }
}
