<div nz-row class="footer-feature-box">
    <div nz-col nzMd="8" class="image-inline-text plr-1 mtb-1">
        <div class="inline-image">
            <img src="assets/store/shipped-48.png" />
        </div>
        <div class="image-text">
            <h6>Free & Next Day Delivery    </h6>
        </div>
    </div>
    <div nz-col nzMd="8" class="image-inline-text plr-1 mtb-1">
        <div class="inline-image">
            <img src="assets/store/budget-48.png" />
        </div>
        <div class="image-text">
            <h6>100% Satisfaction Guarantee</h6>
        </div>
    </div>
    <div nz-col nzMd="8" class="image-inline-text plr-1 mtb-1">
        <div class="inline-image">
            <img src="assets/store/shopaholic-48.png" />
        </div>
        <div class="image-text">
            <h6>Great Daily Deals Discount</h6>
        </div>
    </div>
</div>