.product-page {
  position: relative;
  & .product-top-controls {
      padding: 5px .5rem;
  }
  & .product-list {
    & .product-item {
      & h6 {
        & .sub-title {
          font-size: 11px;
        }
      }
    }
  }
}
