<div size-detector (onSizeChange)="onSizeChange($event)">
    <nz-layout class="layout">        
        <nz-layout>
            <nz-header class="ant-top-header">
                <nz-affix>
                    <app-header class="block-bborder"></app-header>
                </nz-affix>
            </nz-header>
            <nz-content class="ant-render-content">
                <router-outlet></router-outlet>
            </nz-content>
            <nz-footer class="ant-bottom-footer">
                <app-footer></app-footer>
            </nz-footer>
        </nz-layout>
    </nz-layout>
</div>