:host ::ng-deep .home-top-carousel {
  display: block;
  position: relative;
  max-height: 400px;
  & [nz-carousel-content] {
    text-align: center;
    height: 400px;
    color: #fff;
    overflow: hidden;
    & img {
      height: auto;
      max-width: 100%;
    }
  }
}