<div class="bg-white">
    <app-carousel class="home-top-carousel" [playSpeed]="8000" [imageList]="imageBannerList"></app-carousel>
</div>
<div nz-menu-divider></div>
<div class="pb-2 pt-2 bg-white shadow-b-10">
    <div class="app-container">
        <div nz-row>
            <div nz-col class="plr-1">
                <app-card-slider class="text-center block-content" [noBorder]="true" [sliderList]="productCategory">
                </app-card-slider>
            </div>
        </div>
    </div>
</div>
<div class="ptb-40 bg-light">
    <div class="app-container">
        <div class="container-header">
            <h5 class="heading-5">Top Savers Today
                <span class="tag-label badge-success text-white bg-default badge">20% OFF</span>
                <button class="btn btn-view-all secondary-text set-right">View All</button>
            </h5>
            <div class="clear-all"></div>
        </div>
        <div class="inline-slider">
            <card-inline-slider [showSlideIcon]="showSlideIcon" [enableLoopSlide]="true">
                <ng-template ngFor let-product [ngForOf]="productList">
                    <app-card-product class="btn inline-slide" [productDetail]="product"></app-card-product>
                </ng-template>
            </card-inline-slider>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="app-container">
        <div class="block-content">
            <img src="assets/1.jpg" class="img max-md-w50 max-w100" alt="Groceries Store offer" />
            <img src="assets/2.jpg" class="img max-md-w50 max-w100 hide-sm hide-xsm" alt="Groceries Store offer" />
        </div>
    </div>
</div>
<!-- <div class="ptb-40 bg-light">
    <div class="app-container">
        <div class="container-header">
            <h5 class="heading-5">Best Offers View
                <span class="tag-label badge-success text-white bg-tertiary badge">20% OFF</span>
                <button class="btn btn-view-all secondary-text set-right">View All</button>
            </h5>
            <div class="clear-all"></div>
        </div>
        <div class="inline-slider">
            <card-inline-slider [showSlideIcon]="showSlideIcon" [enableLoopSlide]="true">
                <ng-template ngFor let-product [ngForOf]="productList">
                    <app-card-product class="btn inline-slide" [productDetail]="product"></app-card-product>
                </ng-template>
            </card-inline-slider>
        </div>
    </div>
</div> -->
<div class="bg-light pb-1 hide-xlg hide-md hide-lg">
    <div class="app-container">
        <div class="block-content">
            <img src="assets/2.jpg" class="img max-w100" alt="Groceries Store offer" />
        </div>
    </div>
</div>
<div class="ptb-40 bg-white block-bborder">
    <app-footer-feature class="app-container block-content"></app-footer-feature>
</div>