<div class="m-auto store-login shadow-b-10">
    <h5 class="font-20 mb-1">Register</h5>
    <form class="store-form" [formGroup]="signUpForm" (ngSubmit)="onSignUp($event)">
        <nz-form-item class="mb-2">
            <nz-form-label nzRequired nzFor="name">Full Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input your full name!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="fullName" [attr.disabled]="isLoading" placeholder="Full Name" [maxlength]="32" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-2">
            <nz-form-label nzRequired nzFor="name">Mobile Number</nz-form-label>
            <nz-form-control nzErrorTip="Please input your mobile number!">
                <nz-input-group nzPrefixIcon="mobile">
                    <input type="tel" nz-input formControlName="mobileNumber" [attr.disabled]="isLoading" maxlength="13"
                        placeholder="Mobile Number" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-2">
            <nz-form-label nzRequired nzFor="name">Email Address</nz-form-label>
            <nz-form-control nzErrorTip="Please input your email address!">
                <nz-input-group nzPrefixIcon="mail">
                    <input type="email" nz-input formControlName="emailAddress" [attr.disabled]="isLoading" [maxlength]="50"
                        placeholder="Email Address" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-1">
            <nz-form-label nzRequired nzFor="name">Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" [attr.disabled]="isLoading" [maxlength]="20" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="m-0">
            <nz-form-control>
                <div class="pt-2">
                    <button nz-button [nzLoading]="isLoading" [disabled]="!signUpForm.valid" nzType="primary" nzBlock nzSize="large" class="btn bg-default auth-btn">
                        <span class="font-18 text-white">Register Now!</span>
                    </button>
                </div>
                <div class="pt-2">
                    <button nzType="dashed" nz-button nzBlock class="btn" (click)="gotoLogin($event)">
                        <span class="font-18">Log in</span>
                    </button>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>